<div class="main-content d-flex flex-column">
    <div *ngIf="showTable" class="clearfix">
        <button class="float-right btn btn-lg btn-danger" (click)="addFaq()">Add New</button>
    </div>
    <div class="card flex-grow-1">
        <div class="card-header card-header-danger clearfix">
            <div class="float-left">
                <h4 class="card-title">Frequently Asked Questions</h4>
                <p class="card-category">Frequently asked questions table listing</p>
            </div>
            <form *ngIf="showTable" class="float-right">
                <div class="input-group no-border">
                    <input type="text" [(ngModel)]="searchText" value="" (ngModelChange)="onClearSearch()" class="form-control align-self-center text-white" placeholder="Search...">
                    <button *ngIf="searchText !== ''" type="button" class="btn btn-outline border-0 shadow-none btn-just-icon text-white" (click)="resetSearch()">
                        <i class="material-icons">close</i>
                    </button>
                    <button mat-raised-button type="button" class="btn btn-white btn-round btn-just-icon" (click)="setDisplay()">
                        <i class="material-icons">search</i>
                    </button>
                </div>
            </form>
        </div>
        <div class="card-body">
            <table *ngIf="showTable" class="table">
                <thead class=" text-primary">
                <tr class="d-flex">
                    <th class="col-1">
                        No.
                    </th>
                    <th class="col-2">
                        Question
                    </th>
                    <th class="col-4">
                        Answer
                    </th>
                    <th class="col-2">
                        Category
                    </th>
                    <th class="col-1">
                        Record Status
                    </th>
                    <th class="col-2"><!--Empty header for edit button--></th>
                </tr>
                </thead>
                <tbody *ngFor="let faq of displayFaqs, let i = index">
                <tr class="d-flex">
                    <td class="col-1 align-self-center">
                        {{i+1}}
                    </td>
                    <td class="col-2 align-self-center">
                        {{faq.question}}
                    </td>
                    <td class="col-4 align-self-center">
                        {{faq.answer}}
                    </td>
                    <td class="col-2 align-self-center">
                        {{faqCatNameMapping[faq.faqCatId]}}
                    </td>
                    <td class="col-1 align-self-center">
                        {{faqRecordStatusLabels[faq.recordStatus]}}
                    </td>
                    <td class="col-2 text-center align-self-center justify-content-between">
                        <button class="btn btn-white btn-just-icon shadow-none text-danger" (click)="editFaq(faq);"><i class="material-icons">edit</i></button>
                        <button class="btn btn-white btn-just-icon shadow-none text-danger" (click)="removeFaq(faq.faqId)"><i class="material-icons">delete</i></button>
                    </td>
                </tr>
                </tbody>
            </table>
            <form *ngIf="showForm" [formGroup]="faqForm" (ngSubmit)="submitForm()">
                <div class="row">
                    <div class="col-2 text-primary align-self-center">
                        Question
                    </div>
                    <div class="col-6">
                        <mat-form-field class="example-full-width">
                            <input [(ngModel)]="formFaq.question" formControlName="question" matInput required>
                        </mat-form-field>
                    </div>
                    <div *ngIf="submitted && f.question.errors" class="form-error">*Invalid</div>
                </div>
                <div class="row">
                    <div class="col-2 text-primary align-self-center">
                        Answer
                    </div>
                    <div class="col-8">
                        <mat-form-field class="example-full-width">
                            <textarea [(ngModel)]="formFaq.answer" formControlName="answer" matInput></textarea>
                        </mat-form-field>
                    </div>
                    <div *ngIf="submitted && f.answer.errors" class="form-error">*Invalid</div>
                </div>
                <div class="row">
                    <div class="col-2 text-primary align-self-center">
                        FAQ Category
                    </div>
                    <div class="col-4">
                        <mat-form-field class="example-full-width">
                            <mat-select [(ngModel)]="formFaq.faqCatId" formControlName="faqCatId" required>
                                <mat-option *ngFor="let faqCat of faqCats" value="{{faqCat.faqCatId}}">{{faqCat.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div *ngIf="submitted && f.faqCatId.errors" class="form-error">*Invalid</div>
                </div>
                <div class="row">
                    <div class="col-2 text-primary align-self-center">
                        Record Status
                    </div>
                    <div class="col-6">
                        <mat-form-field class="example-full-width">
                            <mat-select [(ngModel)]="formFaq.recordStatus" formControlName="recordStatus" required>
                                <mat-option value="true">Shown</mat-option>
                                <mat-option value="false">Hidden</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div *ngIf="submitted && f.recordStatus.errors" class="form-error">*Invalid</div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-sm-5">
                        <button type="submit" class="btn btn-danger btn-lg w-100">Submit</button>
                    </div>
                    <div class="col-lg-1 col-sm-2"></div>
                    <div class="col-lg-2 col-sm-5">
                        <button type="button" class="btn btn-dark btn-lg w-100" (click)="hideForm()">Back</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
