<div class="main-content d-flex flex-column">
    <div *ngIf="showTable" class="clearfix">
        <div *ngIf="failToLoad" class="text-danger float-left mt-2 ml-5 pl-5"> Failed to load member listing! Loading mock data instead...</div>
        <button class="float-right btn btn-lg btn-danger" (click)="addMember()">Add New</button>
    </div>
    <div class="card flex-grow-1">
        <div class="card-header card-header-danger clearfix">
            <div class="float-left">
                <h4 class="card-title">Alumni</h4>
                <p class="card-category">Alumni information table listing</p>
            </div>
            <form *ngIf="showTable" class="float-right">
                <div class="input-group no-border">
                    <input type="text" value="" class="form-control align-self-center" placeholder="Search...">
                    <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
                        <i class="material-icons">search</i>
                        <div class="ripple-container"></div>
                    </button>
                </div>
            </form>
        </div>
        <div class="card-body">
            <table *ngIf="showTable" class="table">
                <thead class=" text-primary">
                <tr class="d-flex">
                    <th class="col-1">
                        Student ID
                    </th>
                    <th class="col-3">
                        Name
                    </th>
                    <th class="col-2">
                        Email
                    </th>
                    <th class="col-1">
                        Contact No.
                    </th>
                    <th class="col-3">
                        Graduating Campus
                    </th>
                    <th class="col-1">
                        Level Of Study
                    </th>
                    <th class="col-1"><!--Empty header for edit button--></th>
                </tr>
                </thead>
                <tbody *ngFor="let alumni of displayAlumni">
                <tr class="d-flex">
                    <td class="col-1 align-self-center">
                        {{alumni.studentId}}
                    </td>
                    <td class="col-3 align-self-center">
                        {{alumni.name}}
                    </td>
                    <td class="col-2 align-self-center">
                        {{alumni.personalEmail}}
                    </td>
                    <td class="col-1 align-self-center">
                        {{alumni.studentHandphone}}
                    </td>
                    <td class="col-3 align-self-center">
                        {{alumni.graduatingCampus}}
                    </td>
                    <td class="col-1 align-self-center">
                        {{alumni.levelOfStudy}}
                    </td>
                    <td class="col-1 text-center align-self-center">
                        <button class="btn btn-info btn-sm" (click)="editAlumni(alumni);">Edit</button>
                    </td>
                </tr>
                </tbody>
            </table>
            <form *ngIf="showForm">
                <div class="row">
                    <div class="col-2 text-primary align-self-center">
                        Student ID
                    </div>
                    <div class="col-8">
                        <mat-form-field class="example-full-width">
                            <input matInput [(ngModel)]="formAlumni.studentId" name="studentId">
                        </mat-form-field>
                    </div>
                </div><div class="row">
                    <div class="col-2 text-primary align-self-center">
                        Name
                    </div>
                    <div class="col-8">
                        <mat-form-field class="example-full-width">
                            <input matInput [(ngModel)]="formAlumni.name" name="name">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 text-primary align-self-center">
                        Identification Card
                    </div>
                    <div class="col-8">
                        <mat-form-field class="example-full-width">
                            <input matInput [(ngModel)]="formAlumni.identificationCard" name="identificationCard">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 text-primary align-self-center">
                        Email
                    </div>
                    <div class="col-8">
                        <mat-form-field class="example-full-width">
                            <input matInput [(ngModel)]="formAlumni.personalEmail" name="personalEmail">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 text-primary align-self-center">
                        Student Handphone
                    </div>
                    <div class="col-8">
                        <mat-form-field class="example-full-width">
                            <input matInput [(ngModel)]="formAlumni.studentHandphone" name="studentHandphone">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 text-primary align-self-center">
                        Student Telephone Number
                    </div>
                    <div class="col-8">
                        <mat-form-field class="example-full-width">
                            <input matInput [(ngModel)]="formAlumni.studentTelephoneNumber" name="studentTelephoneNumber">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 text-primary align-self-center">
                        Graduating Campus
                    </div>
                    <div class="col-8">
                        <mat-form-field class="example-full-width">
                            <input matInput [(ngModel)]="formAlumni.graduatingCampus" name="graduatingCampus">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 text-primary align-self-center">
                        Year of Graduation
                    </div>
                    <div class="col-8">
                        <mat-form-field class="example-full-width">
                            <input matInput [(ngModel)]="formAlumni.yearOfGraduation" name="yearOfGraduation">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 text-primary align-self-center">
                        Graduating Programme
                    </div>
                    <div class="col-8">
                        <mat-form-field class="example-full-width">
                            <input matInput [(ngModel)]="formAlumni.graduatingProgramme" name="graduatingProgramme">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 text-primary align-self-center">
                        Graduated Programme Name
                    </div>
                    <div class="col-8">
                        <mat-form-field class="example-full-width">
                            <input matInput [(ngModel)]="formAlumni.graduatedProgrammeName" name="graduatedProgrammeName">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 text-primary align-self-center">
                        Level of Study
                    </div>
                    <div class="col-6">
                        <mat-form-field class="example-full-width">
                            <mat-select [(ngModel)]="formAlumni.levelOfStudy" name="status" required>
                                <mat-option value="diploma">Diploma</mat-option>
                                <mat-option value="degree">Degree</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div *ngIf="createAlumni" class="row">
                    <div class="col-2 text-primary align-self-center">
                        Temporary Password
                    </div>
                    <div class="col-8">
                        <mat-form-field class="example-full-width">
                            <input matInput [formControl]="tempPassword">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-sm-5">
                        <button type="button" class="btn btn-danger btn-lg w-100" (click)="submitForm()">Submit</button>
                    </div>
                    <div class="col-lg-1 col-sm-2"></div>
                    <div class="col-lg-2 col-sm-5">
                        <button type="button" class="btn btn-dark btn-lg w-100" (click)="hideForm()">Back</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
