
.login-card {
    height: 80vh;
    width: 80vw;
}
.loginTitle {
    border-bottom: 2px solid gray;
    font-size: 32px;
    text-align: center;
    padding: 16px;
    margin-bottom: 64px;
}

.loginCard {
    display: flex;
    flex-direction: column;
    width: max(80vh, 100% - 100vh + 128px);
    padding: 64px;
    background-color: #EEE;
    text-align: center;
}

.loginForm {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-around;
}

.resetPasswordLink {
    margin-top: -32px;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.linkText {
    color: black;
    text-decoration: underline;
}

.inputBox {
    padding: 24px 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.textInput {
    align-self: center;
    height: 64px;
    width: 100%;
    background-color: white;
    border: none;
    border-bottom: 1px black solid;
}

.buttonBox {
    display: flex;
    flex-direction: row;
}

.loginButton {
    align-self: center;
    height: 64px;
    width: 50%;
    background-color: red;
    border-radius: 8px;
    border: 8px red;
}

.loginBanner {
    font-size: 40px;
    padding: 16px;
}

.loginPrompt {
    font-size: 16px;
    padding: 0;
    color: #888;
}

.loginError {
    font-size: 16px;
    padding: 0;
    color: #F00;
}

.passwordReset{
    color: #00B7FF;
}
