<div class="main-content d-flex flex-column">
    <div class="clearfix">
        <button class="float-right btn btn-lg btn-danger" (click)="toggleForm(emptyEvent)">Add New</button>
    </div>
    <div class="card flex-grow-1">
        <div class="card-header card-header-danger clearfix">
            <div class="float-left">
                <h4 class="card-title">Event & Activities</h4>
                <p class="card-category">Event & Activity information table listing</p>
            </div>
            <form *ngIf="showTable" class="float-right">
                <div class="input-group no-border">
                    <input type="text" value="" class="form-control align-self-center" placeholder="Search...">
                    <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
                        <i class="material-icons">search</i>
                        <div class="ripple-container"></div>
                    </button>
                </div>
            </form>
        </div>
        <div class="card-body">
                <table *ngIf="showTable" class="table">
                    <thead class=" text-primary">
                        <tr class="d-flex">
                            <th class="col-1">
                                No.
                            </th>
                            <th class="col-3">
                                Image
                            </th>
                            <th class="col-2">
                                Event Name
                            </th>
                            <th class="col-1">
                                Start Date
                            </th>
                            <th class="col-1">
                                End Date
                            </th>
                            <th class="col-2 text-center">
                                Registration Link
                            </th>
                            <th class="col-1">
                                Record Status
                            </th>
                            <th class="col-1"><!--Empty header for edit button--></th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let event of mockEvents, let i = index">
                        <tr class="d-flex">
                            <td class="col-1 align-self-center">
                                {{i+1}}
                            </td>
                            <td class="col-3 align-self-center">
                                <img class="mw-100" src="{{event.imgUrl}}" alt="Event Image"/>
                            </td>
                            <td class="col-2 align-self-center">
                                {{event.name}}
                            </td>
                            <td class="col-1 align-self-center">
                                {{event.startDate.toDateString()}}
                            </td>
                            <td class="col-1 align-self-center">
                                {{event.endDate.toDateString()}}
                            </td>
                            <td class="col-2 align-self-center text-center">
                                <a href="{{event.registerUrl}}">{{event.registerUrl}}</a>
                            </td>
                            <td class="col-1 align-self-center">
                                {{event.recordStatus ? 'Active' : 'Completed'}}
                            </td>
                            <td class="col-1 text-center align-self-center">
                                <button class="btn btn-info btn-sm" (click)="toggleForm(event);">Edit</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <form *ngIf="showForm">
                    <div class="row">
                        <div class="col-2 text-primary align-self-center">
                            Event Name
                        </div>
                        <div class="col-6">
                            <mat-form-field class="example-full-width">
                                <input matInput value="{{formEvent.name}}">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2 text-primary align-self-center">
                            Description
                        </div>
                        <div class="col-8">
                            <mat-form-field class="example-full-width">
                                <textarea matInput>{{formEvent.desc}}</textarea>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2 text-primary align-self-center">
                            Start Date
                        </div>
                        <div class="col-4">
                            <mat-form-field appearance="fill">
                                <input matInput [matDatepicker]="startDate" [value]="formEvent.startDate">
                                <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                                <mat-datepicker #startDate></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2 text-primary align-self-center">
                            End Date
                        </div>
                        <div class="col-4">
                            <mat-form-field appearance="fill">
                                <input matInput [matDatepicker]="endDate" [value]="formEvent.endDate">
                                <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                                <mat-datepicker #endDate></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2 text-primary align-self-center">
                            Dropdown
                        </div>
                        <div class="col-6">
                            <mat-form-field class="example-full-width">
                                <mat-select value="{{formEvent.recordStatus ? 'active' : 'completed'}}">
                                    <mat-option value="active">Active</mat-option>
                                    <mat-option value="completed">Completed</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2 text-primary align-self-center">
                            Image
                        </div>
                        <div class="col-4">
                            <img class="w-100" src="{{formEvent.imgUrl}}" alt="">
                        </div>
                        <div class="col-2">
                            <button class="btn btn-success btn-lg">Upload Image</button>
                            <button class="btn btn-danger btn-lg">Remove Image</button>
                        </div>
                    </div>
                    <button class="btn btn-danger btn-lg" (click)="toggleForm(emptyEvent)">Done</button>
                </form>
        </div>
    </div>
</div>
